/* .news_main {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
  margin-top: 10px;
  margin-left: 700px;
}

/* Start */
/*.news_hor {
  font-family: Barlow;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 800px;
  width: 100%;
  background-color: #ffffff;
  color: black;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.news_hor img {
  width: 320px;
  float: left;
  position: relative;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-right: 30px;
  z-index: 1;
}
.news_hor:hover img,
.news_hor.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.news_hor figcaption {
  padding: 5%;
  padding-bottom: 73px;
  width: 90%;
  background-color: #ffffff;
}

.news_hor h3 {
  font-family: "Cabin";
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  margin: 3px 0;
}

.news_hor footer {
  border-top: 1px solid rgba(0, 0, 0, 0.065);
  padding: 0 20px;
  font-size: 13px;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hor_date {
  float: left;
  margin-left: 370px;
}

.news_hor a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
} */

.table{
  margin-left:10px;
  margin-top: -5px;

}