
#contact input[type="text"],
#contact input[type="date"],
#contact input[type="number"],
#contact input[type="file"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}



#contact {
  
  margin-left:50px;
  margin-right: 50px;
}

#contact h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  width: 100%;

}
.patent-button{
    width: 20x;
   
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
    background-color: #3385ff;
    color: white;
}

#contact input[type="text"],
#contact input[type="date"],
#contact input[type="number"],
#contact input[type="file"],
#contact textarea {
 width: 500px;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}



#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
.patent{
  text-align: center;
  background-color: #ccc;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;


}

#contact button[type="submit"] {
  cursor: pointer;
  width: 677px;
  border: none;
  background: #0cf;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09c;
 
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


